<div class="well well-title"><h4><strong>Characters</strong></h4></div>
<div class="row">
	{{#each characters}}
		<articule class="col-xs-6 col-md-3">
			
			<div class="thumbnail">
				<img src="{{url}}" alt="comic image">
				<div class="caption">
					<h6>{{name}}</h6>
				</div>
			</div>
		</articule>
		{{#unless @last}}
			{{#ifmodeqzero @index 4}}
</div>
<div class="row">
			{{/ifmodeqzero}}
		{{/unless}}
	{{/each}}
</div>