<div class="row">
    <articule class="col-xs-6 col-md-3">
		<div class="thumbnail">
			<img src="https://annihilusssl.sslcs.cdngc.net/c/DIG030905_3.jpg?h=786695942966cc2ce583546b76710ee7&width=240" alt="...">
			<div class="caption">
				<h4>All-New Captain America (2014-) #1</h4>
				<p>
					<a href="#" class="btn btn-primary btn-sm" role="button">Add to cart</a>
					<a href="#" class="btn btn-default btn-sm" role="button">Details</a>
				</p>
			</div>
		</div>
	</articule>
	<articule class="col-xs-6 col-md-3">
		<div class="thumbnail">
			<img src="https://annihilusssl.sslcs.cdngc.net/c/DIG031282_3.jpg?h=663096f5906374b49e7b18ecf5de73ad&width=240" alt="...">
			<div class="caption">
				<h4>Thumbnail label</h4>
				<p>...</p>
				<p>
					<a href="#" class="btn btn-primary btn-sm" role="button">Button</a>
					<a href="#" class="btn btn-default btn-sm" role="button">Button</a>
				</p>
			</div>
		</div>
	</articule>
	<articule class="col-xs-6 col-md-3">
		<div class="thumbnail">
			<img src="https://annihilusssl.sslcs.cdngc.net/c/DIG031018_2.jpg?h=a447f7767c5dde3be3a47c89eef484f0&width=240" alt="...">
			<div class="caption">
				<h4>Thumbnail label</h4>
				<p>...</p>
				<p>
					<a href="#" class="btn btn-primary btn-sm" role="button">Button</a>
					<a href="#" class="btn btn-default btn-sm" role="button">Button</a>
				</p>
			</div>
		</div>
	</articule>
	<articule class="col-xs-6 col-md-3">
		<div class="thumbnail">
			<img src="https://annihilusssl.sslcs.cdngc.net/c/DIG031018_2.jpg?h=a447f7767c5dde3be3a47c89eef484f0&width=240" alt="...">
			<div class="caption">
				<h4>Thumbnail label</h4>
				<p>...</p>
				<p>
					<a href="#" class="btn btn-primary btn-sm" role="button">Button</a>
					<a href="#" class="btn btn-default btn-sm" role="button">Button</a>
				</p>
			</div>
		</div>
	</articule>
	</div>
	<div class="row">
    <articule class="col-xs-6 col-md-3">
		<div class="thumbnail">
			<img src="https://annihilusssl.sslcs.cdngc.net/c/DIG030905_3.jpg?h=786695942966cc2ce583546b76710ee7&width=240" alt="...">
			<div class="caption">
				<h4>All-New Captain America (2014-) #1</h4>
				<p>
					<a href="#" class="btn btn-primary btn-sm" role="button">Add to cart</a>
					<a href="#" class="btn btn-default btn-sm" role="button">Details</a>
				</p>
			</div>
		</div>
	</articule>
	<articule class="col-xs-6 col-md-3">
		<div class="thumbnail">
			<img src="https://annihilusssl.sslcs.cdngc.net/c/DIG031282_3.jpg?h=663096f5906374b49e7b18ecf5de73ad&width=240" alt="...">
			<div class="caption">
				<h4>Thumbnail label</h4>
				<p>...</p>
				<p>
					<a href="#" class="btn btn-primary btn-sm" role="button">Button</a>
					<a href="#" class="btn btn-default btn-sm" role="button">Button</a>
				</p>
			</div>
		</div>
	</articule>
	<articule class="col-xs-6 col-md-3">
		<div class="thumbnail">
			<img src="https://annihilusssl.sslcs.cdngc.net/c/DIG031018_2.jpg?h=a447f7767c5dde3be3a47c89eef484f0&width=240" alt="...">
			<div class="caption">
				<h4>Thumbnail label</h4>
				<p>...</p>
				<p>
					<a href="#" class="btn btn-primary btn-sm" role="button">Button</a>
					<a href="#" class="btn btn-default btn-sm" role="button">Button</a>
				</p>
			</div>
		</div>
	</articule>
	<articule class="col-xs-6 col-md-3">
		<div class="thumbnail">
			<img src="https://annihilusssl.sslcs.cdngc.net/c/DIG031018_2.jpg?h=a447f7767c5dde3be3a47c89eef484f0&width=240" alt="...">
			<div class="caption">
				<h4>Thumbnail label</h4>
				<p>...</p>
				<p>
					<a href="#" class="btn btn-primary btn-sm" role="button">Button</a>
					<a href="#" class="btn btn-default btn-sm" role="button">Button</a>
				</p>
			</div>
		</div>
	</articule>
	</div>
	<div class="row">
    <articule class="col-xs-6 col-md-3">
		<div class="thumbnail">
			<img src="https://annihilusssl.sslcs.cdngc.net/c/DIG030905_3.jpg?h=786695942966cc2ce583546b76710ee7&width=240" alt="...">
			<div class="caption">
				<h4>All-New Captain America (2014-) #1</h4>
				<p>
					<a href="#" class="btn btn-primary btn-sm" role="button">Add to cart</a>
					<a href="#" class="btn btn-default btn-sm" role="button">Details</a>
				</p>
			</div>
		</div>
	</articule>
	<articule class="col-xs-6 col-md-3">
		<div class="thumbnail">
			<img src="https://annihilusssl.sslcs.cdngc.net/c/DIG031282_3.jpg?h=663096f5906374b49e7b18ecf5de73ad&width=240" alt="...">
			<div class="caption">
				<h4>Thumbnail label</h4>
				<p>...</p>
				<p>
					<a href="#" class="btn btn-primary btn-sm" role="button">Button</a>
					<a href="#" class="btn btn-default btn-sm" role="button">Button</a>
				</p>
			</div>
		</div>
	</articule>
	<articule class="col-xs-6 col-md-3">
		<div class="thumbnail">
			<img src="https://annihilusssl.sslcs.cdngc.net/c/DIG031018_2.jpg?h=a447f7767c5dde3be3a47c89eef484f0&width=240" alt="...">
			<div class="caption">
				<h4>Thumbnail label</h4>
				<p>...</p>
				<p>
					<a href="#" class="btn btn-primary btn-sm" role="button">Button</a>
					<a href="#" class="btn btn-default btn-sm" role="button">Button</a>
				</p>
			</div>
		</div>
	</articule>
	<articule class="col-xs-6 col-md-3">
		<div class="thumbnail">
			<img src="https://annihilusssl.sslcs.cdngc.net/c/DIG031018_2.jpg?h=a447f7767c5dde3be3a47c89eef484f0&width=240" alt="...">
			<div class="caption">
				<h4>Thumbnail label</h4>
				<p>...</p>
				<p>
					<a href="#" class="btn btn-primary btn-sm" role="button">Button</a>
					<a href="#" class="btn btn-default btn-sm" role="button">Button</a>
				</p>
			</div>
		</div>
	</articule>
</div>