<div class="row">
    <div id="available-menu" class="nav">
    	<ul class="nav nav-pills navbar-default">
    		<li data-value="all" class="available-menu active"><a>All</a></li>
    		<li data-value="available" class="available-menu"><a>Available</a></li>
    		<li data-value="borrowed" class="available-menu"><a>Borrowed</a></li>
    	</ul>
    </div>
</div>
<div class="row marketing">
    <div id="home-view" class="col-lg-9">
    	
    </div>
    <aside id="popular-sidebar" class="col-lg-3">
    	<div>
        	<h4>Most popular</h4>
        </div>
        <div class="panel panel-default">
        	<div class="panel-heading">By qualification</div>
            <ul id="qualification-menu" class="list-group"></ul>
        </div>
        <div class="panel panel-default">
        	<div class="panel-heading">By top search</div>
            <ul id="top-search-menu" class="list-group"></ul>
        </div>
        <div class="panel panel-default">
        	<div class="panel-heading">By recommended</div>
            <ul id="recommended-menu" class="list-group"></ul>
        </div>
    </aside>
</div>