<div class="row">
    <nav id="comic-menu" class="navbar navbar-inverse" role="navigation">
    	<ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Genres</a></li>
            <li><a href="#">Editions</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Characters</a></li>
        </ul>
    </nav>
    <div class="nav">
    	<ul class="nav nav-pills navbar-default">
    		<li class="active"><a href="#">All</a></li>
    		<li><a href="">Available</a></li>
    		<li><a href="">Borrowed</a></li>
    	</ul>
    </div>
</div>
<div class="row marketing">
    <div id="home-view" class="col-lg-9">
    	
    </div>
    <aside id="popular-sidebar" class="col-lg-3">
    	<div>
        	<h4>Most popular</h4>
        </div>
        <div class="panel panel-default">
        	<div class="panel-heading">By qualification</div>
            <ul class="list-group">
            	<li><a class="list-group-item">1. Batman</a></li>
            	<li><a class="list-group-item">2. Batman</a></li>
            	<li><a class="list-group-item">3. Batman</a></li>
            	<li><a class="list-group-item">4. Batman</a></li>
            </ul>
        </div>
        <div class="panel panel-default">
        	<div class="panel-heading">By top search</div>
            <ul class="list-group">
            	<li><a class="list-group-item">1. Batman</a></li>
            	<li><a class="list-group-item">2. Batman</a></li>
            	<li><a class="list-group-item">3. Batman</a></li>
            	<li><a class="list-group-item">4. Batman</a></li>
            </ul>
        </div>
        <div class="panel panel-default">
        	<div class="panel-heading">By recommended</div>
            <ul class="list-group">
            	<li><a class="list-group-item">1. Batman</a></li>
            	<li><a class="list-group-item">2. Batman</a></li>
            	<li><a class="list-group-item">3. Batman</a></li>
            	<li><a class="list-group-item">4. Batman</a></li>
            </ul>
        </div>
    </aside>
</div>