<div class="row marketing">
	<div class="col-lg-8 col-lg-offset-2">
		<div class="panel panel-danger">
			<div class="panel-heading panel-info">
				<h3 class="panel-title">Sign In</h3>
			</div>
			<div class="panel-body">
				<div class="well col-lg-6 pull-right">
					<div class="alert alert-danger hide">
						<span class="glyphicon glyphicon-remove"></span><strong>User or password incorrect.</strong>
					</div>
					<div style="margin-bottom: 25px" class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username">                                        
					</div>
					<div style="margin-bottom: 25px" class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						<input id="login-password" type="password" class="form-control" name="password" placeholder="password">
					</div>
					<a id="btn-login" class="btn btn-danger btn-block">Login  </a>
					<a id="btn-help" class="btn btn-default btn-block">Help to Login</a>
				</div>
				<div class="col-lg-6">
					<p class="lead">Register now for <span class="text-success">FREE</span></p>
                      <ul class="list-unstyled" style="line-height: 2">
                          <li>
                          	<span class="glyphicon glyphicon-ok"></span>
                          	<span class="text-success"></span> See all comics, games and videos
                          </li>
                          <li>
                          	<span class="glyphicon glyphicon-ok"></span>
                          	<span class="fa fa-check text-success"></span> Fast re-order
                          </li>
                          <li>
                          	<span class="glyphicon glyphicon-ok"></span>
                          	<span class="fa fa-check text-success"></span> Fast rent
                          </li>
                          <li>
                          	<span class="glyphicon glyphicon-ok"></span>
                          	<span class="fa fa-check text-success"></span> Easy search
                          </li>
                      </ul>
                      <p><a href="#!/register" class="btn btn-info btn-block">Yes please, register now!</a></p>
				</div>
			</div>
		</div>
	</div>
</div>