<li id="login-menu" role="presentation" class="dropdown pull-right">
	<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">
		<span id="login-fullname">{{fullName}}</span>
		<img alt="{{fullName}} Profile" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-16.png"><span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
		<li id="menu-profile"><a href="#!/profile">Profile</a></li>
		<li class="divider"></li>
		<li id="menu-logout"><a href="#">Logout</a></li>
	</ul>
</li>