<div class="row marketing">
	<div class="col-lg-8 col-lg-offset-2">
		<div class="alert alert-success hide">
			<strong><span class="glyphicon glyphicon-ok"></span> Register complete!</strong>
		</div>
		<div class="alert alert-danger alert-fields hide">
			<span class="glyphicon glyphicon-remove"></span><strong> Error! Please check all fields.</strong>
		</div>
		<div class="alert alert-danger alert-email hide">
			<span class="glyphicon glyphicon-remove"></span><strong> Password not match.</strong>
		</div>
		<div class="panel panel-danger">
			<div class="panel-heading panel-info">
				<h3 class="panel-title">Register</h3>
			</div>
			<div class="panel-body">
				<form role="form">
				<div class="form-group input-group">
					<span class="input-group-addon"><i class="fa fa-circle-o-notch"  ></i></span>
					<input type="text" id="name" class="form-control" placeholder="Your Name" />
				</div>
				<div class="form-group input-group">
					<span class="input-group-addon"><i class="fa fa-tag"  ></i></span>
					<input type="text" id="username" class="form-control" placeholder="Desired Username" required />
				</div>
				<div class="form-group input-group">
					<span class="input-group-addon">@</span>
					<input type="email" pattern=".{3,}" id="email" class="form-control" placeholder="Your Email" title="Error" />
				</div>
				<div class="form-group input-group">
					<span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
					<input type="password" id="password" class="form-control" placeholder="Enter Password" />
				</div>
				<div class="form-group input-group">
					<span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
					<input type="password" id="repeatpassword" class="form-control" placeholder="Retype Password" />
				</div>
				
				<a id="btn-register" class="btn btn-success">Register Me</a>
				</form>
				<hr />
				Already Registered ?  <a href="#!/login" >Login here</a>
			</div>
		</div>
	</div>
</div>